
<%= link_to "追加", new_member_path ,{class: "btn btn-info", :style => "text-align:right;"} %>
<% if current_user %>
<% @member.each do |member| %>
    <div class="container">
        <div class="row">
            <%= member.name %>
            <%= member.progress %>
            <%= link_to "編集", edit_member_path(member.id),class:"btn btn-success", role:"button" %>
            <%= link_to "削除", member_path(member.id), :method => :delete, class:"btn btn-danger", role:"button" %>
        </div>
    </div>
<% end %>
<% end %>
<script>
    var page = require('webpage').create();
var fs   = require('fs');

// ページが読み込まれたら page.onCallback を呼ぶ
page.onInitialized = function() {
	page.evaluate(function() {
		document.addEventListener('DOMContentLoaded', function() {
			window.callPhantom('DOMContentLoaded');
		}, false);
	});
};

// ページが読み込まれたら登録した関数の配列を順次実行してくれるクラス
var funcs = function(funcs) {
	this.funcs = funcs;
	this.init();
};
funcs.prototype = {
	// ページが読み込まれたら next() を呼ぶ
	init: function() {
		var self = this;
		page.onCallback = function(data){
			if (data === 'DOMContentLoaded') self.next();
		}
	},
	// 登録した関数の配列から１個取り出して実行
	next: function() {
		var func = this.funcs.shift();
		if (func !== undefined) {
			func();
		} else {
			page.onCallback = function(){};
		}
	}
};

// 順次実行する関数
new funcs([
	function() {
		console.log('ログイン処理');
		page.open('https://members.life-is-tech.com/mentors/login'); // 次ページヘ
	},
	function() {
		console.log('ログイン画面');
		page.evaluate(function() {
			document.getElementById('mentor_phone_or_email').value = '08056552860';
			document.getElementById('mentor_password').value   = '7n1bzt3141';
			document.querySelector('form').submit(); // 次ページヘ
		});
	},
	function() {
		console.log('ログイン中画面');
		// 自動で次ページヘ
		phantom.exit();
	},
]).next();
</script>